{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-width, initial-scale=1.0">
    <script src="{% static 'main_layout.js' %}"></script>      
    <link rel="stylesheet" href="{% static 'Registration/master.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <title>Document</title>    
</head>
<body onload="onpage_load()">
    <form  method="POST" action="/registration" >
        {% csrf_token %}    
        <div class="row" >
            <nav class="navbar navbar-expand-lg" style="background-color: rgb(32, 32, 163);">
                <div class="container-fluid">
                    <a class="navbar-brand" style="padding-left:25px;" href="#">
                        <img src= "https://media.geeksforgeeks.org/auth/profile/8ceu3jpotjla4m5wpbm7" alt="" width="30" height="30">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" style="color:white;  padding-left:10px; padding-right:10px;" href="/">YSPM's YTC</a>
                            </li>
                            <li class="nav-item" style="padding-top:2px;" >
                                <input id="textarea1" type="text" style="width:100px" class="navbar-text mytextarea" placeholder="Acadamic Year" >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" style="color:white; padding-left:30px; padding-right:10px;" href="#">Department</a>
                            </li>
                            <li class="nav-item" style="padding-top:2px;" >
                                <input id="textarea2" type="text" style="width:145px" class="navbar-text mytextarea" placeholder="Department Selection" >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" style="color:white; padding-left:30px; padding-right:10px;" href="#">Class</a>
                            </li>
                            <li class="nav-item" style="padding-top:2px;" >
                                <input id="textarea3" type="text" style="width:125px" class="navbar-text mytextarea" placeholder="Class Selection" >
                            </li> 
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" type="text" form="systemForm" style="color:white;padding-left:40px;padding-right:10px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Role
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" onclick="set_button_text()">
                                    <li><a id="item30" onclick="Person_selection('item30')" class="dropdown-item" href="#">Management</a></li>                    
                                    <li><a id="item31" onclick="Person_selection('item31')" class="dropdown-item" href="#">Faculty</a></li>
                                    <li><a id="item32" onclick="Person_selection('item32')" class="dropdown-item" href="#">Staff</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a id="item33" onclick="Person_selection('item33')" class="dropdown-item" href="#">Student</a></li>
                                    <li><a id="item34" onclick="Person_selection('item34')" class="dropdown-item" href="#">Parent</a></li>
                                </ul>
                            </li>
                            <li class="nav-item" style="padding-top:2px;" >
                                <input id="textarea4" type="text" style="width:130px" class="navbar-text mytextarea" placeholder="Faculty Selection"  >
                            </li>
                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" type="text" form="systemForm" style="color:white;padding-left:40px;padding-right:10px;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    User
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" onclick="set_button_text()">
                                    <li><a id="item40" onclick="User_status('item40')" class="dropdown-item" href="#">New User</a></li>                    
                                    <li><a id="item41" onclick="User_status('item41')" class="dropdown-item" href="#">Earlier User</a></li>                                   
                                </ul>
                            </li>
                             <li class="nav-item" style="padding-top:2px;" >                                
                                <input id="textarea5" type="text" style="width:120px" class="navbar-text mytextarea" placeholder="User Status"  >
                            </li>                           
                            <li class="accordion-item border-bottom-0" style="padding-left:40px;padding-right:10px;">                   
                                <input type="hidden" name="course" id="course" style="width:100px" />
                                <input type="hidden" name="dept_token" id="dept_token" style="width:100px" />
                                <input type="submit" name="action_text" id="action_text" value=""  href="{% url 'Registration:insert' %}" class="mybutton" onclick="fresh_start()" style="width:100px;height:38px; padding-top:5px;" />
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>                  
    </form>
        <div class="row">
            <div class="col-sm-2" style="background-color:aliceblue;" >
                <ul class="accordion accordion-flush list-unstyled"  id="accordionFlushExample">                                      
                    <li class="accordion-item border-bottom-0" >
                        <h2 class="accordion-header" id="flush-headingTwelve">
                            <button  id="button0"  class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseFive" >
                            Academic Year
                            </button>
                        </h2>
                        <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
                            <ul class="dropdown-body list-unstyled" style="text-align: center">
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item35" onclick="year_selection('item35')" class="dropdown-item" href="#">2019-20</a></li>
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item36" onclick="year_selection('item36')" class="dropdown-item" href="#">2020-21</a></li>
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item37" onclick="year_selection('item37')" class="dropdown-item" href="#">2021-22</a></li>
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item38" onclick="year_selection('item38')" class="dropdown-item" href="#">2022-23</a></li>
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item39" onclick="year_selection('item39')" class="dropdown-item" href="#">2023-24</a></li>
                            </ul>
                        </div>
                    </li>                                
                    <li class="accordion-item border-bottom-0">                    
                        <h5  id="flush-headingOne" style=" font-size:18px;margin-top: 10px;border-style: solid; border-width:2px; border-color:rgb(8, 8, 246); padding: 3px;border-radius: 10px;background-color: rgba(88, 208, 208, 0.264);">
                            &nbsp;&nbsp;Department Selection                       
                        </h5>                                       
                    </li>
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingEleven">
                        <button id="button11" onclick="branch_selection('button11')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseFive">
                            Institution
                        </button>
                        </h2>
                        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item42" onclick="class_selection('item42')" class="dropdown-item" href="#">Office</a></li>
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item43" onclick="class_selection('item43')" class="dropdown-item" href="#">Lab assistant</a></li>
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item44" onclick="class_selection('item44')" class="dropdown-item" href="#">Library</a></li>
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item45" onclick="class_selection('item45')" class="dropdown-item" href="#">Examination</a></li>
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item46" onclick="class_selection('item46')" class="dropdown-item" href="#">Sports</a></li>
                            </ul>
                        </div>
                    </li> 
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button id="button1" onclick="branch_selection('button1')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseFive" >
                            General Science
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">            
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item1" onclick="class_selection('item1')" class="dropdown-item" href="#">Machanical</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item2" onclick="class_selection('item2')" class="dropdown-item" href="#">Electrical</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item3" onclick="class_selection('item3')" class="dropdown-item" href="#">Civil</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item4" onclick="class_selection('item4')" class="dropdown-item" href="#">Computer</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item5" onclick="class_selection('item5')" class="dropdown-item" href="#">E&TC</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button id="button2" onclick="branch_selection('button2')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseThree">
                            Mechanical
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item6" onclick="class_selection('item6')" class="dropdown-item" href="#">Second Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item7" onclick="class_selection('item7')" class="dropdown-item" href="#">Third Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item8" onclick="class_selection('item8')" class="dropdown-item" href="#">Final Year</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button id="button3" onclick="branch_selection('button3')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Electrical
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item9" onclick="class_selection('item9')" class="dropdown-item" href="#">Second Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item10" onclick="class_selection('item10')" class="dropdown-item" href="#">Third Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item11" onclick="class_selection('item11')" class="dropdown-item" href="#">Final Year</a></li>
                            </ul>
                        </div>
                    </li>  
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button id="button4" onclick="branch_selection('button4')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                            Civil
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item12" onclick="class_selection('item12')" class="dropdown-item" href="#">Second Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item13" onclick="class_selection('item13')" class="dropdown-item" href="#">Third Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item14" onclick="class_selection('item14')" class="dropdown-item" href="#">Final Year</a></li>
                            </ul>
                        </div>
                    </li> 
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button id="button5" onclick="branch_selection('button5')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                            Computer
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item15" onclick="class_selection('item15')" class="dropdown-item" href="#">Second Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item16" onclick="class_selection('item16')" class="dropdown-item" href="#">Third Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item17" onclick="class_selection('item17')" class="dropdown-item" href="#">Final Year</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button id="button6" onclick="branch_selection('button6')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                                E&ampTC
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item18" onclick="class_selection('item18')" class="dropdown-item" href="#">Second Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item19" onclick="class_selection('item19')" class="dropdown-item" href="#">Third Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item20" onclick="class_selection('item20')" class="dropdown-item" href="#">Final Year</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingSeven">
                            <button id="button7" onclick="branch_selection('button7')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                            Polytechnic
                            </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item21" onclick="class_selection('item21')" class="dropdown-item" href="#">Mechanical</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item22" onclick="class_selection('item22')" class="dropdown-item" href="#">Electrical</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item23" onclick="class_selection('item23')" class="dropdown-item" href="#">Civil</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingEight">
                            <button id="button8" onclick="branch_selection('button8')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Mechanical Poly
                            </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item24" onclick="class_selection('item24')" class="dropdown-item" href="#">Second Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item25" onclick="class_selection('item25')" class="dropdown-item" href="#">Third Year</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingNine">
                            <button id="button9" onclick="branch_selection('button9')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Electrical Poly
                            </button>
                        </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item26" onclick="class_selection('item26')" class="dropdown-item" href="#">Second Year</a></li>
                            <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item27" onclick="class_selection('item27')" class="dropdown-item" href="#">Third Year</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item border-bottom-0">
                        <h2 class="accordion-header" id="flush-headingTen">
                        <button id="button10" onclick="branch_selection('button10')" class="mybutton" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Civil Poly
                        </button>
                        </h2>
                        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                            <ul class="accordion-body list-unstyled">
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item28" onclick="class_selection('item28')" class="dropdown-item" href="#">Second Year</a></li>
                                <li onmouseover="this.style.background='#B8B5FF'" onmouseout="this.style.background='white'"><a id="item29" onclick="class_selection('item29')" class="dropdown-item" href="#">Third Year</a></li>
                            </ul>
                        </div>                    
                    </li>                                     
                </ul>
            </div>
            <div class="col-sm-10 container body-content">
                {% block content %}

                {% endblock %}           
            </div>
        </div>               
</body>
</html>
